<% include ../partials/header %>
</div>




<div class="starter-template">
  <h1>Aqui Noticias Públicas</h1>





  <table>
    <% noticias.forEach( noticia => { %>


    <tr>
      <td>
        <%= noticia.title%>

        <div class="box1" style="background-image: url(../views-noticias-imgs/restaurantes.jpg)">
            <!--img src="../imgs/restaurantes.jpgk" class="logo"-->
            <div class="box2">
              
              <!--a class="" href="/restaurantes">Python</a-->
              <a href="/login"><span>Restaurantes</span></a>
              
            </div>
          </div>

      </td>
    </tr>

    <% } )%>
  </table>
  </div-->



  <% include ../partials/footer %>