<% include ../partials/header %></div>

<div class="box">

    <span class=""></span>
    <h2>Subscribe now</h2>
    <p>Holasa dsa dsa ds  fd few gfdg  t fdwr ert ghfd sdf vfd h yj yyuyuyt gwq</p>
    <div class="tbox">
      <!--input type="email" name="" value=""-->
      <a class="" href="#"></a>

    </div>
  </div>

  
      <div class="starter-template">
        <h1>Aqui Noticias Públicas</h1>



        

      <table>
        <% noticias.forEach( noticia => { %>

     
        <tr>
          <td><%= noticia.title%></td>
        </tr>

        <% } )%>
      </table>
      </div>

     

<% include ../partials/footer %>