<% include ../partials/header %></div>

      <div class="starter-template">
        <h1>Noticias Públicas Super Administrator</h1>
      <table>
        <% noticias.forEach( noticia => { %>

     
        <tr>
          <td><%= noticia.title%></td>
        </tr>

        <% } )%>
      </table>
      </div>

     

<% include ../partials/footer %>